body{
    background: url(images/header_this.jpg) no-repeat bottom center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 960px;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
}
.container{
    width: 50%;
    margin-top:5%;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;

    padding-top:3%;
    padding-bottom:3%;

    background-color: rgb(255, 255, 255);
}

.logout{
    float: right;
    margin-right: 30px;
}
.testadd{
    margin-top:4%;
}

.maincontent{
    width: 50%;
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
}

.content1{
    width: 70%;
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
}
.content1of1{

    margin-left:8%;
    
}


.content1of1:hover{
    background-color: rgb(144, 144, 144);
    
}